/* Reset default styles */
body, h2, p, label, input, button {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Apply general styles to the page */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #0e96e6; /* Set the background color of the page */
    background-image: url(IMAGES/book.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

/* Style the section containing the form */
#book-appointment {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 20px auto;
    max-width: 400px;
}

/* Style the form title */
h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Style introductory paragraph */
p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

/* Style form labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style text input and button */
input[type="text"], button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #2ceb01;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: hsl(206, 100%, 51%);
}
